@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \000034;
  }
}

.browsehappy {
  margin: 0.2em 0;
  padding: 0.2em 0;
  background: #ccc;
  color: #000;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000315;
  }
}

html {
  background-color: #fffefa;
  color: #2f3332;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000320;
  }
}

body {
  margin: 0;
  font: 21px/29px "Adelle", serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000325;
  }
}

a {
  color: #4fd6ac;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000328;
  }
}

a:hover {
  color: #2f3332;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000334;
  }
}

li {
  font: 21px/29px "Adelle", serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000338;
  }
}

p {
  margin: 0 auto 1em auto;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000346;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Source Sans Pro", sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000350;
  }
}

h1 {
  color: #4fd6ac;
  text-shadow: 8px 8px 0px rgba(0, 0, 0, 0.3);
  font-size: 148px;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000358;
  }
}

#title {
  margin-bottom: 0.5em;
  line-height: 0;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000363;
  }
}

h2 {
  font: bold 48px/67px "Source Sans Pro", sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000367;
  }
}

h3 {
  font: bold 36px "Source Sans Pro", sans-serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000371;
  }
}

h4 {
  font: 100 italic 36px "Adelle", serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000375;
  }
}

em {
  letter-spacing: -1px;
  font-weight: 600;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000380;
  }
}

#sub-title {
  margin: 0 auto;
  padding: 0.5em 0 3em 0;
  width: 80%;
  border-top: 1px solid #fffefa;
  color: #4fd6ac;
  font-variant: small-caps;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000389;
  }
}

.projects {
  padding-left: 1em;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000393;
  }
}

p.label {
  display: inline;
  letter-spacing: 2px;
  font: small-caps 24px/35px "Adelle", serif;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \0000399;
  }
}

p.value {
  display: inline;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003107;
  }
}

header {
  margin: 0 auto;
  padding: 2em 0 1em 0;
  background-color: #2f3332;
  color: #fffefa;
  text-align: center;
}

nav ul {
  margin: 3em 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav li {
  font-family: "Source Sans Pro", sans-serif;
  display: inline;
  margin: 0 1.5em;
}

nav li a {
  background-color: #4fd6ac;
  padding: 0.85em;
  border-radius: 4px;
  text-decoration: none;
  color: #2f3332;
}

nav li a:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003114;
  }
}

header .sub-head {
  margin: 0 auto;
  width: 90%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003119;
  }
}

header img {
  margin-bottom: 1em;
  width: 50%;
  border-radius: 50%;
  opacity: 0.6;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003126;
  }
}

header img:hover {
  opacity: 1.0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003133;
  }
}

.about,
.work,
.experience,
.goals {
  margin: 0 auto;
  padding: 3em 0;
  width: 90%;
  border-bottom: thin solid;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003140;
  }
}

#contact {
  margin: 0 auto;
  padding: 3em 0 12em 0;
  width: 90%;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
  }

  line {
    font-family: \00003146;
  }
}

span.cap {
  letter-spacing: 1px;
  font-variant: small-caps;
}

@media only screen and (min-width: 1000px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003163;
    }
}

  body,
  li {
    font: 24px/35px "Adelle", serif;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003167;
    }
}

  header.sub-head,
  .about,
  .work,
  .experience,
  .goals,
  #contact {
    width: 50%;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003171;
    }
}

  #sub-title {
    width: 60%;
  }
}

@media only screen and (min-width: 600px) {
@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003179;
    }
}

  header img {
    width: 20%;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003184;
    }
}

  header .sub-head,
  .about,
  .work,
  .experience,
  .goals,
  #contact {
    width: 50%;
  }

@media -sass-debug-info {
    filename {
      font-family: file\:\/\/\/Users\/davidlachasse\/Dev\/resume\/app\/styles\/main\.scss;
    }

    line {
      font-family: \00003188;
    }
}

  #sub-title {
    width: 50%;
  }
}